_Store
*.swp
*~.nib
*.pbxuser
*.perspective
*.perspectivev3
*.mode1v3
*.mode2v3
*.xcuserdata
*.xcworkspace
*.xcworkspacedata
xcuserdata
*.orig
Pods/
*.BACKUP.*
*.BASE.*
*.LOCAL.*
*.REMOTE.*
.DS_Store

# Kotlin Multiplatform Mobile related
.idea
.gradle
local.properties
mobile-common/framework

Keys.plist
